<div id="<%= dom_id user %>">
  <table class="table table-sm">
    <colgroup>
      <col class="col-md-1">
      <col class="col-md-9">
    </colgroup>

    <tr>
      <td><strong>User Id:</strong></td>
      <td><%= user.userid %></td>
    </tr>

    <tr>
      <td><strong>First Name:</strong></td>
      <td><%= user.first_name %></td>
    </tr>

    <tr>
      <td><strong>Last Name:</strong></td>
      <td><%= user.last_name %></td>
    </tr>

    <tr>
      <td><strong>Nickname:</strong></td>
      <td><%= user.nickname %></td>
    </tr>

    <tr>
      <td><strong>Username:</strong></td>
      <td><%= user.username %></td>
    </tr>

    <tr>
      <td><strong>Password:</strong></td>
      <td><%= user.password %></td>
    </tr>

    <tr>
      <td><strong>Email:</strong></td>
      <td><%= user.email %></td>
    </tr>

    <tr>
      <td><strong>Email Verified:</strong></td>
      <td><%= user.email_verified %></td>
    </tr>

    <tr>
      <td><strong>Phone:</strong></td>
      <td><%= user.phone %></td>
    </tr>
    <tr>
      <td><strong>Picture URL:</strong></td>
      <td><%= user.picture_url %></td>
    </tr>
  </table>
</div>
